body {
background-color: #FFFFFF;
background-image: url(images/background.png);
background-repeat: no-repeat;
background-position: center center;
}

main {
background-color: #FFFFFF;
}

h1 {
  background-color: #fc7703;
  font-style: italic;
  font-weight: normal;
}




.imgbox {
border: 100px solid #000000;
padding: 10px;
margin: 20px;
background-color: #FFFFFF;
width: 200px;
}

.textright {
text-align: right;
}

.textleft {
text-align: left;
}

.textcenter {
text-align: center;
}

.textjustify {
text-align: justify;
}

.textspace {
letter-spacing: 20px;
}

.textheight {
line-height: 20px;
}

.pwidth {
border: 1px solid #ff0000;
width: 100px;
}

.zeroout {
margin: 0;
padding: 0;
}

.boxmodel {
border: 2px solid #0000ff;
padding: 20px 20px 20px 20px;
margin: 10px 10px 10px 10px;
}

.otherbox {
  padding: 10px;
  margin: 20px;
  border: 1px solid #00ff00;
}

.customtext {
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: bold;
font-size: 24px;
}

.fontcombined {
font: italic 24px Arial, Helvetica, sans-serif;
}
